.App {
  text-align: center;
  height: 1200px;
  padding-top: 50px;
  background-image: url('https://miro.medium.com/v2/resize:fit:1400/1*q_Hg_9AUqkZFPW8hN65QzQ.gif');
  background-size: cover;
  background-attachment: cover;
  background-repeat: no-repeat;
}

